.videoCard {
  width: 270px;
  margin-bottom: 40px;
}
.videoCard__thumbnail {
  width: 250px;
  height: 140px;
}
.videoCard__infor {
  display: flex;
  padding-right: 30px;
  margin-top: -15px;
}
.videoCard__avatar {
  margin-top: 25px;
  margin-right: 10px;
}
.videoCard__text > h4 {
  margin-bottom: -5px;
}
.videoCard__channel {
  margin-bottom: -10px;
}
.videoCard__text > p {
  font-size: 14px;
  color: gray;
}
