.header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  position: sticky;
  background-color: #202020;
  top: 0;
  z-index: 1;
}
.header__logo {
  height: 25px;
  object-fit: contain;
  margin-left: 20px;
}
.header__input {
  display: flex;
  align-items: center;
  width: 35%;
  height: 27px !important;
}
.header__input > input {
  flex: 1;
  border: none;
  height: 100%;
  background-color: #202020;
  padding: 0px 10px;
  color: white;
  border: 1px solid gray;
}
.header__input > input:hover {
  border-bottom-left-radius: 1px solid white;
}

.header__inputButton {
  width: 70px !important;
  height: 30px !important;
  margin-top: 4px;

  background: #323232;
}

.header__icons {
  margin-right: 10px;
}
.MuiSvgIcon-root {
  color: white;
}
