.recommendVideo {
  background-color: #f9f9f9;
  padding: 10px 20px;
  padding-bottom: 0;
  margin-left: 250px;
  width: 100%;
}
.recommendVideo > h2 {
  margin-left: 5px;
  margin-bottom: 20px;
}
.recommendVideos__videos {
  display: flex;
  /* justify-content: space-between; */
  align-content: stretch;
  flex-wrap: wrap;
}
